services:
  postgres:
    restart: always
    image: postgres:latest
    environment:
      POSTGRES_USER: mobilizehub
      POSTGRES_PASSWORD: mobilizehub
      POSTGRES_DB: mobilizehub_demo
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - '5432:5432'

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    restart: always
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio_data:/data

volumes:
  data:
  pgdata:
  minio_data:
  node_modules:
